@charset "UTF-8";

#selecter {
	height: 10%;
	width: 90%;
	background-color: green;
	margin-right: 5%;
	margin-left: 5%

}

#Weekone, #Weektwo, #Weekthree, #Weekfour, #Weekfive {
	height: 10%;
	width: 90%;
	background-color: green;
	margin-right: 5%;
	margin-left: 5%;
}

.Day {
    width: 10%;
    height: 100%;
    border: solid 1px;
    display: inline-block;
}

span {
    position: absolute;
}

#before {
    width: 10%;
    height: 15%;
    background-color: blue;
}
#after {
    width: 10%;
    height: 15%;
    background-color: red;
}
