@charset "UTF-8";

body {
    margin: 0;
    width: 98vw;
}

main {
    height:  81vh;
}

#calender {
	width: 80vw;
	background-color: pink;
}

#selecter {
	height: 10%;
	width: 90%;
	background-color: green;
	margin-right: 5%;
	margin-left: 5%
}

#Weekone, #Weektwo, #Weekthree, #Weekfour {
	height: 20%;
	width: 90%;
	background-color: green;
	margin-right: 5%;
	margin-left: 5%;
}

#Weekfour {
	margin-bottom: 10%;
}
