@charset "UTF-8";

body {
	margin: 0;
}
#selecter{
	padding: 0 0 5% 0;
    margin: 0;
    width: 100%;
    height: 0;
	background-color: green;
	display:flex;
}

#Weekone, #Weektwo, #Weekthree, #Weekfour, #Weekfive, #Weeksix {
	padding: 0 0 5% 0;
    margin: 0;
    width: 100%;
    height: 0;
}

.Day {
	padding: 0 0 5% 0;
    margin: 0;
    width: 7%;
    height: 0;
    border: solid 2px;
	display: inline-grid
}

#dayof{
	padding: 0 0 2.5% 0;
    margin: 0;
    width: 100%;
    height: 0;
}
.Dayof{
	padding: 0 0 2.5% 0;
    margin: 0;
    width: 7%;
    height: 0;
    border: solid 1px;
	display: inline-grid;
}

.Dayof > p {
	text-align: center;
	font-size: 1.4vw;
	margin-top: 0;
}

.FirstDay {
	margin-left: 23%;
}


span {
	text-align: center;
	font-size: 1.4vw;
}

.cal {
	text-indent: 8%;
	text-align: left;
	margin-bottom: 0.5vw;
}

#before,#after {
	width: 4%;
   	height: 4vw;
   	display: inline-block;
}

#before {
	margin-left: 25vw;
    margin-top: 0.5vw;
}

#left_tri{
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-right: 3.5vw solid #6aa7cd;
}

#right_tri{
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 3.5vw solid #6aa7cd;
}

#after {
	margin-left: 5vw;
	margin-top: 0.5vw;
}

#show_month {
    margin-left: 15vw;
    font-size: 2.7vw;
    margin-top: 0.5vw;
}

#cal {
	margin-left: 5vw;
	height: 3vw;
	margin-top: 1vw;
}




