@charset "UTF-8";

#head {
	margin-left: 10%;
	height: 15%;
	margin-bottom: 5%;
}

#calendar {
	width: 90%;
	height: 90%;
	background-color:#AEE2FF;
	border-radius: 20px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

#selecter {
	height: 25%;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%
}

#show_month {
	width: 20%;
}

#Weekone, #Weektwo, #Weekthree, #Weekfour, #Weekfive, #Weeksix {
	height: 10%;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 0.7%;
}

.Day {
    width: 13.61%;
    height: 100%;
    border: solid 1px;
    display: inline-block;
    background-color: #FFFFFF;
}

span {
    position: absolute;
}

#before {
  	width: 100px;
  	height: 100px;
  	clip-path: polygon(100% 0%, 100% 100%, 0 50%);
  	background-color: red;
  	transform: scale(0.5);
}
#after {
  	width: 100px;
  	height: 100px;
  	clip-path: polygon(0 0, 0% 100%, 100% 50%);
  	background-color: blue;
  	transform: scale(0.5);
}
