body {
    margin: 0;
    width: 98vw;
}

main {
    height:  81vh;
}

h1 {
    text-align: center;
}

#foods_show {
    width: 67.5%;
    height: 85%;
    margin-right: 0.5%;
    margin-left: 2.0%;
    float: left;
    background-color: #AEE2FF;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
}

#search_foods {
    width: 60%;
    height: 10%;
    margin: 0 20%;
    font-size:0;
}

.search_input {
    height: 100%;
    display: inline-block;
}

#s_category {
    width: 35%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

#s_name {
    width: 50%;
    border: none;
    outline: none;
}

#s_submit {
    width: 15%;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
}

#s_result {
    width: 85%;
    height: 65%;
    margin: 0 10%;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
    margin-top: 3%;
    background-color: white;
    border-radius: 8px;
    display: inline-block;

    letter-spacing: 5px;
    text-align: left;
}
#s_result::-webkit-scrollbar{
    width: 0.6em;
}
#s_result::-webkit-scrollbar-track{
   background-color: #ccc;
}
#s_result::-webkit-scrollbar-thumb{
   background-color: white;
}

.list {
    border-bottom: solid 0.5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: 20px;
}


#register_foods {
    width: 27.5%;
    height: 85%;
    margin-right: 2%;
    margin-left: 0.5%;
    float: right;

    background-color: #AEE2FF;
    border-radius: 20px;
}

#a_category, #a_name, #a_cal {
    width: 80%;
    height: 35%;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    outline: none;
}

#a_submit {
	width: 30%;
    height: 8%;
    margin: 2% 35%;
    margin-top:5px;
    border-radius: 30px;
    display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 30px;
	box-shadow: 3px 3px 3px gray;
}

.register_input {
    height: 25%;
    text-indent: 10%;
}