@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body {
    background:linear-gradient(to right,#AEE2FF,#AEE2FF);
    font-family:"Yusei Magic";
}
center{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
c{
	text-align: center;
	width:100%;
	height:40px;
	border:none;
	outline:none;
	font-size:16px;
	background:#222;
	color:#f5f5f5;
	border-radius:10px;
	cursor:pointer;

}
main {
    padding:10px 20px;
    font-size:15px;
    font-weight:600;
    color:#222;
    background:#f5f5f5;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius:5px;
}
h1{
	text-align: center;
	color:#222;
	margin:40px 0px 5px;
	font-size:25px;
}
h2{
	text-align: center;
	color:#222;
	margin:5px 0px 5px;
	font-size:25px;
}
secret{
	border-radius: 50px;
}
secret1 {
    width: 67.5%;
    height: 85%;
    margin-right: 0.5%;
    margin-left: 2.0%;
    float: left;

    background-color: #AEE2FF;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}
secret2 {
	 width: 60%;
    height: 10%;
    margin: 0 20%;
    font-size:0;
}

form {
  background:#fff;
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}
input {
  width:70vw;
  margin: auto;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}

.popup .form h2{
	text-align:center;
	color:#222;
	margin:10px 0px 20px;
	font-size:25px;
}
.form .form-element label{
	font-size:14px;
	color:#222;
}
.form .form-element input[type="text"],
.form .form-element input[type="newpassword"],
.form .form-element input[type="chpassword"]{
	margin-top:5px;
	display:blorgb(157, 234, 232)157, 234, 232)0, 255, 255)128, 255, 255)
	width:70vw;
	padding:10px;
	outline:none;
	border:1px solid #aaa;
	border-radius:5px;
}
form-element{
	width: 50vw;
    margin: auto;
}
.table button{
    width:100%;
	height:40px;
	border:none;
	outline:none;
	font-size:16px;
	background:#41b6c7;
	color:#000000;
	border-radius:10px;
	cursor:pointer;
	text-align:center;
	display:flex;
	margin:auto;


}
.popup .form .form-element a{
	display:block;
	text-align:right;
	font-size:15px;
	color:#1a79ca;
	text-decoration:none;
	font-weight:600;
}


