@charset "utf-8";
@font-face {
  font-family: "Yusei Magic";
  src: url("/mippy/fonts/YuseiMagic-Regular.ttf") format("truetype");
}
*{
    margin:0px;
	padding:0px;
	box-sizing:border-box;
}
foot-link{
	margin-bottom:30px;
	margin-left:30px;
}
body {
    background-color: #ffffff;
    font-family:"Yusei Magic";
}

.info {
	width: 100%;
	margin: auto;
	max-width: 525px;
	height: 300px;
	position: relative;
	background-color: #AEE2FF;
	border-radius:20px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	text-align: center;
}

.info2 {
	width: 100%;
	margin: auto;
	max-width: 525px;
	height: 380px;
	position: relative;
	background-color: #AEE2FF;
	border-radius:20px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	text-align: center;
}

h2{
	text-align: center;
	color:#222;
	margin-top:30px;
	font-size:25px;
	margin-bottom:30px;
    padding: 20px;
}

.u_addr, .new_pw, .co_pw{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    background:#f5f5f5;
    border:0;
    padding:20px;
    border-radius:6px;
    margin-bottom:10px;
    border:1px solid #eee;
}

.button1 {
	width:180px;
	height: 40px;
	background-color: #ACBCFF;
	border-radius:30px;
	border: none;
	margin-top: 40px;
}

.button1:hover {
	background-color: #93A4E5;
}

.button2 {
	width:180px;
	height: 40px;
	background-color: #E6FFFD;
	border-radius:30px;
	border: none;
	margin-top: 5px;
}

.button2:hover {
	background-color: #DDF3F0;
}

#output {
	color:red;
}