@charset "UTF-8";
@font-face {
  font-family: "Yusei Magic";
  src: url("/mippy/fonts/YuseiMagic-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    width: 98vw;
    font-family:"Yusei Magic";
}

main {
    height: 85vh;
}

h1 {
    text-align: center;
}

#list_show {
    width: 67.5%;
    height: 85%;
    margin-right: 0.5%;
    margin-left: 2.0%;
    float: left;
    background-color: #AEE2FF;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
#kal{
	float: right;
}

#food_list {
    width: 86%;
    height:90%;
    margin: 3% 7%;
    overflow-y: scroll;
    list-style: none;
    padding-left: 0;
    background-color: white;
    border-radius: 8px;
    display: inline-block;

    letter-spacing: 5px;
    text-align: left;
}

#food_list::-webkit-scrollbar {
    width: 0.6em;
}
#food_list::-webkit-scrollbar-track {
   background-color: #ccc;
   border-radius: 3px
}
#food_list::-webkit-scrollbar-thumb {
   background-color: #acbcff;
   border-radius: 4px;
}

#log_list_1, #log_list_2, #log_list_3, #log_list_4 {
    border-radius: 10px;
    margin: 2%;
    background-color: #e6fffd;
    font-size: 15px;
    list-style-type: none;
}

.list_1{
	display: flex;
    justify-content: space-between;
}
.list_2{
    justify-content: space-between;
}



#record_form {
    width: 27.5%;
    height: 85%;
    margin-right: 2%;
    margin-left: 0.5%;
    float: right;
    background-color: #AEE2FF;
    border-radius: 20px;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

#record_category_date, #record_category_time, #record_category,#record_item {
    width: 80%;
    height: auto;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
    outline: none;
    font-family:"Yusei Magic";
}

#button {
    width: 30%;
    height: 8%;
    margin: 2% 35%;
    margin-top:5px;
    border-radius: 30px;
    display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 30px;
	box-shadow: 3px 3px 3px gray;
}
.button:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
.touroku{
	text-align: center;
	margin-top:10px;
}

.foot-link {
    margin-top: 0px;
    text-align: center;
	text-decoration: underline;
	color: black;
    text-decoration: underline;
    margin-bottom:10px;
}

.recor_input {
    padding-left: 1em;
    height: 15%;
    text-indent: 10%;

}

p.item {
    padding-left: 2em;
}
#output {
	color:red;
	margin-top:10px;
	text-align: center;
	margin-bottom:20px;
	font-size: 15px;

}
