@charset "UTF-8";@charset "utf-8";

body {
    background-color: #ffffff;
    font-family:"Yusei Magic";
}


h2{
	text-align: center;
	color:#222;
	margin-top:20px;
	font-size:25px;
	margin-bottom:30px;
    padding: 20px;
}

.group {
	width: 100%;
	margin: auto;
	max-width: 525px;
	height: 600px;
	text-align: center;
	position: relative;
	background-color: #AEE2FF;
	border-radius: 20px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.bigbutton {
	position: relative;
	width: 70%;
	margin-left: 15%;
}

