@charset "UTF-8";
@font-face {
  font-family: "Yusei Magic";
  src: url("/mippy/fonts/YuseiMagic-Regular.ttf") format("truetype");
}
boby{
	font-family:"Yusei Magic";
}
/* アバターの選択 */
.avatar-image {
	display: none; /* 画像を初めは非表示にする */
}
/* アバターサイズ*/
.avatar-image {
	width: 200px;
	height: 200px;
}

.avatar-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/*  gap: 0px; */
}

.profile {
	width: 100%;
	margin: auto;
	max-width: 525px;
	position: relative;
	background-color: #AEE2FF;
	border-radius: 20px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
		rgba(0, 0, 0, .19);
}

.input {
	width: 65%; /* 入力フィールドの横幅を100%に設定 */
	margin-left: 65px;
	background: #f5f5f5;
	border: 0;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

.same {
	width: 100%; /* 入力フィールドと選択ボックスを含む要素の横幅を100%に設定 */
	justify-content: center;
	align-items: center;
}

.sei {
	width: 112%; /* 入力フィールドと選択ボックスを含む要素の横幅を100%に設定 */
	justify-content: center;
	align-items: center;
}

.ni {
	/* text-align: center; */
	padding-left: 200px;
}

.select {
	width: 72%;
	background: #f5f5f5;
	border: 0;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

.date {
	width: 72%;
	background: #f5f5f5;
	border: 0;
	padding: 20px;
	border-radius: 6px;
	margin-bottom: 10px;
	border: 1px solid #eee;
}

#avatar-message {
	text-align: center;
	font-family: "Cute Font", cursive; /* かわいらしいフォントを指定 */
	color: green; /* テキストの色を指定 */
	font-size: 20px; /* テキストのサイズを指定 */
	text-decoration: underline; /* 下線を追加 */
}

.te {
	text-align: center;
}

#date {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-top: 10px;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button1 {
	width:170px;
	height: 40px;
	background-color: #ACBCFF;
	border-radius:30px;
	border: none;
	margin-top: 40px;
	margin-right:4px;
}

.button1:hover {
	background-color: #93A4E5;
}

.button2 {
	width:170px;
	height: 40px;
	background-color: #E6FFFD;
	border-radius:30px;
	border: none;
	margin-top: 40px;
	margin-left: 4px;
}

.button2:hover {
	background-color: #DDF3F0;
}