@charset "utf-8";
.logo {
    text-align: center;
    margin-left:40px;
}

body {
    margin: 0;
    width: 98vw;
    background:#ffffff;
}

main {
    height:  81vh;
}
h1{
	text-align: center;
}
secret1 {
    width: 67.5%;
    height: 85%;
    margin-right: 0.5%;
    margin-left: 2.0%;
    float: left;

    background-color: #AEE2FF;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}
secret2 {
	 width: 60%;
    height: 10%;
    margin: 0 20%;
    font-size:0;
}
* {
  font-family:"Yusei Magic";
    };
form {
  background:#fff;
  border-radius:6px;
  padding:20px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}
input {
  width:100%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin-bottom:10px;
  border:1px solid #eee;
}
